{
  "deployment": {
    "region": "eu-west-1"
  },
  "sourceRepo": {
    "owner": "fourTheorem",
    "name": "slic-starter",
    "branch": "master"
  },
  "domainConfig": {
    "siteBucketPrefix": "define-this-if-not-using-nsDomain",
    "nsDomain": "your-apex.domain",
    "domainPrefixes": {
      "dev": "dev.",
      "stg": "stg.",
      "prod": "",
      "local": ""
    }
  },
  "slicWatch": {
    "topicArn": "SET_TOPIC_ARN_HERE",
    "enabled": false
  }
}
