{
  "deployment": {
    "region": "eu-west-1"
  },
  "accountIds": {
    "cicd": "123467890",
    "stg": "1234567891",
    "prod": "1234567892"
  },
  "sourceRepo": {
    "owner": "fourTheorem",
    "name": "slic-starter",
    "branch": "master"
  },
  "domainConfig": {
    "siteBucketPrefix": "define-this-if-not-using-nsDomain",
    "nsDomain": "your-apex.domain",
    "domainPrefixes": {
      "dev": "dev.",
      "stg": "stg.",
      "prod": "",
      "local": ""
    }
  },
  "defaultRegions": {
    "cicd": "eu-west-1",
    "dev": "eu-west-1",
    "stg": "eu-west-1",
    "prod": "eu-west-1"
  }
}
