# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

changed-modules.env

# Temporary Git repo for checking changes
_GIT_REPO/

# Temporary output generate during build
module-config.env
