service: checklist-service

plugins:
  - serverless-webpack
  # Order of plugins is important for dynamodb-local
  # Using fork of serverless-dynamodb-local due to https://github.com/99xt/dynamodb-localhost/issues/25
  - '@dathuis/serverless-dynamodb-local'
  - serverless-offline
  - serverless-prune-plugin
  - serverless-iam-roles-per-function

provider:
  name: aws
  runtime: nodejs10.x
  stage: ${opt:stage, 'local'}
  region: ${opt:region, '${env:TARGET_REGION}'}
  tracing:
    apiGateway: true
    lambda: true
  iamRoleStatements:
    - Effect: Allow
      Action:
        - xray:PutTraceSegments
        - xray:PutTelemetryRecords
      Resource:
        - '*'
  environment:
    SLIC_STAGE: ${self:provider.stage}
    SERVICE_NAME: ${file(./package.json):name}
    SERVICE_VERSION: ${file(./package.json):version}
    CHECKLIST_TABLE_NAME: ${self:custom.checklistTableName}
  logRetentionInDays: 7

custom:
  webpack:
    keepOutputDirectory: true
  checklistTableName: ${self:provider.stage}Checklists
  nsDomain: ${env:SLIC_NS_DOMAIN}
  domainPrefixes: ${file(../common-config.json):domainPrefixes}
  checklistApiUrl:
    Fn::Join:
      - ''
      - - 'https://'
        - Ref: 'ApiGatewayRestApi'
        - '.execute-api.${self:provider.region}.amazonaws.com/${self:provider.stage}'
  serverless-offline:
    httpPort: 4000
    lambdaPort: 4002
    websocketPort: 4001
    stage: local
    region: ${self:provider.region}
  dynamodb:
    start:
      migrate: true
  prune:
    automatic: true
    number: 3
  logForwarding:
    destinationARN: !ImportValue ${self:provider.stage}-log-forwarder-function-arn

functions: ${file(./sls-functions.yml)}

resources:
  Resources: ${file(./sls-resources.yml.js)}
